body{
    background-color:blanchedalmond;
}
h1{
    color:black;
    background-color:burlywood;
}

#show_sketch
{
    float:right;
}
Canvas{
    border:5px black;
    border-radius: 30px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;

}
@keyframes example{
    from{box-shadow: 1px 1px 38px grey};
    to{box-shadow: 1px 1px 38px white};
}

P{
    padding-top:10px;
    font-size:25px;
    font-style: oblique;
    font-weight: bold;
    
}

